@import 'compass';
@import 'utl/rest';
@import 'mixins/vendorize';
@import 'vars';
@import 'utl/media';


#myDiv {
	background-color: $primary-color;
	height: $div-size;
	width: $div-size;
	border: solid 20px $secondary-color;
	@include box-shadow(0 0 5px black);
	@include opacity (0.5);

	p {
		color: $third-color;
	}

	@include min-screen($desktopBreakpoint){
		background-color: grey;
	}
		
	@include iphone5{
			margin-left:5px;
	}
}

nav{
	width: $document-width;

	li{
		width: $nav-item-width;
	}
	@include min-screen($desktopBreakpoint){
		width: 30%;
	}
}